@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}
html {
	overflow:-moz-scrollbars-vertical;
}
body {
	background:#fff;
	color:#333;
	font-family:Arial, sans-serif;
	font-size:12px;
	line-height:16px;
	/*text-shadow:0 1px 0 #fff;*/
}
a {
	color:#333;
	text-decoration:underline;
}
form {
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ee9)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	margin:20px auto 0;
	padding:20px;
	width:900px;
}
h1 {
	border-bottom:1px solid #ccc;
	font-size:11px;
	font-weight:bold;
	letter-spacing:2px;
	/*margin-bottom:20px;*/
	text-transform:uppercase;
}
form p {
	margin-bottom:20px;
}
form p:last-child { /* Sélecteur avancé pour sélectionner le dernier paragraphe du formulaire */
	margin-bottom:0;
}
label {
	cursor:pointer;
	display:block;
	float:left;
	font-size:13px;
	font-weight:bold;
	line-height:33px;
	margin-bottom:5px;
	width:65px;
	text-align: right;
}
/*form p:hover label {
	color:#0459b7;
}
form p:hover label:after {
	content:" »";
}*/
input[type=text], input[type=password], select {
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:5px;
	width:330px;
	font-weight: bold;
	font-size: 14px;
	color: #093C75;
	margin: 5px 10px 5px 5px;
	float: left;
}
input[type=text]:focus, input[type=password]:focus {
	border-color:#093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none; /* Pour enlever le contour jaune lorsque l'on sélectionne un input dans Chrome */
}
select {
	cursor:pointer;
	padding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	float: left;
	width: 385px;
}
select:active, select:focus {
	border:1px solid #093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none;
}
input[type=button],input[type=submit], a.submit {
	background:#ddd;
	background:-moz-linear-gradient(90deg, #0459b7, #08adff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#08adff), to(#0459b7)); /* Webkit */
	border:1px solid #093c75;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 1px 0 #fff;
	-webkit-box-shadow:0 1px 0 #fff;
	color:#fff;
	cursor:pointer;
	font-family:Arial, sans-serif;
	font-size:24px;
	font-weight:bold;
	/*margin-left:120px;*/
	padding:5px 9px;
	text-decoration:none;
	text-shadow:0 1px 1px #333;
	text-transform:uppercase;
	line-height: 26px;
	width: 220px; 
	margin-left: 70px;
	margin-top: 10px;
	/*float: right;*/
}

input.send-message {
	background:-moz-linear-gradient(90deg, gold, #ff0000); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#ff0000), to(gold)); /* Webkit */
}

input[type=button]:hover,input[type=submit]:hover, a.submit:hover {
	background:#eee;
	background:-moz-linear-gradient(90deg, #067cd3, #0bcdff);
	background:-webkit-gradient(linear, left top, left bottom, from(#0bcdff), to(#067cd3));
	border-color:#093c75;
	text-decoration:none;
}
input[type=button]:active,input[type=button]:focus,input[type=submit]:active, input[type=submit]:focus, a.submit:active, a.submit:focus {
	background:#ccc;
	background:-moz-linear-gradient(90deg, #0bcdff, #067cd3);
	background:-webkit-gradient(linear, left top, left bottom, from(#067cd3), to(#0bcdff));
	border-color:#093c75;
	outline:none;
}
#options {
	margin-bottom:20px;
}
#options p {
	display:none;
}
#options .show {
	display:block;
}
#options:target .show {
	display:none;
}
#options .hide {
	display:none;
}
#options:target .hide {
	display:block;
}
#options:target p {
	display:block;
}
#success {
	background:rgba(65, 166, 42, 0.2);
	border:2px solid #41a62a;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:none;
	padding:5px 10px;
}
#success:target {
	display:block;
}
#error {
	background:rgba(218, 56, 56, 0.4);
	border:2px solid #F00;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	display:none;
	padding:5px 10px;
}
#error:target {
	display:block;
}
#credits {
	font-size:11px;
	margin-top:20px;
	text-align:center;
}
#loader{
	left:10px;
	position:relative;
	top:3px;
	display:none;
}

.clear {clear: both;}

#results-panel-tabs {
	background: none;
	border: none;
	width: 482px;
	margin: 0 auto;
}
#results-panel-tabs .ui-tabs-nav {
	background: none;
	border: none;
	padding-left: 0;
	
}
#results-panel-tabs .stream-panel-tab-content {
	background: white;
	min-height: 300px;
	border: solid 1px #aaa;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ee9)); /* Webkit */

}

#results-panel-tabs .ui-tabs-nav li.ui-tabs-selected {
	
}

#results-panel-tabs .ui-state-active a, 
#results-panel-tabs .ui-state-active a:link, 
#results-panel-tabs .ui-state-active a:visited {
	
}

#results-panel-tabs .ui-state-active, 
#results-panel-tabs .ui-widget-content .ui-state-active, 
#results-panel-tabs .ui-widget-header .ui-state-active {
	border: 1px solid #aaa;
	-moz-box-shadow:0 0 15px #aaa;
}
#results-panel-tabs .ui-widget-content h4 {
	font-size: 14px;
	font-weight: bold;
	color: #2B2B2B;
	border-bottom: solid 1px #2B2B2B;
	line-height: 14px;
	margin-bottom: 5px;
}
.service-content table {
	width: 100%;
	margin-bottom: 10px;
}
.service-content table th {
	background: #ccc;
	color: #fff;
}
.service-content table td.separator {
	height: 10px;
}
.service-content table td.time-range {
	background: #Fda;
}
.service-content table td {
	
}
.service-content table th,
.service-content table td {
	padding-left: 2px;
}
.service-content .service-header .site-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 24px;
	color: #093C75;
	float: left;
}
.service-content .service-header a {
	float: right;
}
.service-content span {
	float: left;
	display: block;
	width: 75px;
}
.service-content span.title {}
.service-content span.value {}
.hidden {display: none;}


/* ================= YEXT ===================== */

#report-panel {width: 940px; margin: 0 auto;}
#service-items {}
#service-items .service-item-caption {}
#service-items .service-item-caption table {width: 940px;}
#service-items .service-item-caption table th {border-right: solid 1px #666; height:30px; background: #333; font-size: 12px; color: #999; font-weight: bold; padding: 2px 5px; text-align: center;}
#service-items .service-item-caption table th.item-photo {width: 10;}
#service-items .service-item-caption table th.item-about {width: 30;}
#service-items .service-item-caption table th.item-location {width: 10%;}
#service-items .service-item-caption table th.item-language {width: 10%;}
#service-items .service-item-caption table th.item-category {width: 30%;}
#service-items .service-item-caption table th.item-age {width: 10%;}


#service-items .service-item-caption {border-top: solid 1px #61B300;}
#service-items .service-item-caption table {width: 940px;}
#service-items .service-item-caption table td {border: solid 1px #61B300; height:72px; font-size: 12px; color: #333; font-weight: bold; padding: 0px 5px; vertical-align: middle;}
#service-items .service-item-caption table td.item-photo {text-align: center;}
#service-items .service-item-caption table td.item-photo img {border: solid 1px #999;}
#service-items .service-item-caption table td.item-about {}
#service-items .service-item-caption table td.item-about a {text-decoration: none;}
#service-items .service-item-caption table td.item-about a.name {font-weight: bold; font-size: 14px;}
#service-items .service-item-caption table td.item-location {text-align: center;}
#service-items .service-item-caption table td.item-language {text-align: center;}
#service-items .service-item-caption table td.item-category {text-align: center;}
#service-items .service-item-caption table td.item-age {text-align: center;}

/*#service-items .service-item-caption table tr.odd td {background: #eee;}
#service-items .service-item-caption table tr.even td {background: #ddd;}*/

#service-items .service-item-caption table td.grid-messages {height: auto; padding: 0;}
#service-items .service-item-caption table td.grid-info {height: auto; background: orange; color: #000; font-size: 14px; font-weight: bold;}

.col-left {float: left;}
.col-center {float: left;}
.col-right {float: left;}

#report-panel .grid-pager {margin: 10px 0 40px 0;}
#report-panel .grid-pager a {
	font-size: 14px; 
	font-weight: bold; 
	border: solid 1px #000; 
	background: #333; 
	display: block; 

	padding: 5px 5px;
	float: left;
	color: #EEE;
	margin: 1px;
	min-width: 20px;
	text-align: center;
	
}

#report-panel .grid-pager a:hover {
	background: orange;
	color: #fff;
}

#report-panel .grid-pager a.current {background: #eee; color: #333;}
#request-panel .errors {background: #ff0000; font-weight: bold; color: #ffffff; padding: 5px 10px; margin-bottom: 5px;}
#report-panel .messages {background: #00d52f; color: #fff; text-align: center; font-weight: bold; font-size: 16px;}

textarea.message {
	width: 850px;
	height: 245px;
	margin: 10px auto;
	display: block;
}
div.send-selected {
	margin: 15px auto;
	font-size: 12px;
	font-weight: bold;
	width: 840px;
}

#filter-form div.multi-checkbox {width: 825px; float: left; margin-left: 5px; padding-top: 10px;}
#filter-form div.multi-checkbox .multi-checkbox-item {
	float: left;
	width: 64px;
}
#filter-form div.multi-checkbox .multi-checkbox-item input {
	margin-top: 1px;
	float: left;
	margin-right: 5px;
}
#filter-form div.multi-checkbox .multi-checkbox-item span {
	float: left;
}

#filter-form div.multi-checkbox-age-ranges .multi-checkbox-item {width: 64px;}
#filter-form div.multi-checkbox-categories .multi-checkbox-item {width: 162px;}
#filter-form div.multi-checkbox-languages .multi-checkbox-item {width: 137px;}
#filter-form div.multi-checkbox-locations .multi-checkbox-item {width: 205px;}